
/*--- Page ---*/
.plugin-gridster.TeleinfoRemote .front{
  background-color: #FAF0E6; /* coquille d'oeuf */
  background-color: #E6E6FA; /* Bleu trés clair */
}

/*--- Compteur --*/
.plugin-gridster.TeleinfoRemote .default {
  font-weight     : bold;
}

/*--- Logo ---*/
.plugin-gridster.TeleinfoRemote .logo {
  position        : absolute;
  background-color: inherit;
  background      : url(img/maison.png) no-repeat center center;
  width           : 45px;
  height          : 45px;
  opacity         : 0.7;
  margin-top      : 10px;
  margin-left     : -8px;
  cursor          : pointer;
}

/*--- Nom du plugin ---*/
.plugin-gridster.TeleinfoRemote .plugin {
  font-weight     : normal;
}

/*--- Info Abo dans titre page ---*/
.info_abo a {
  background-color: #FF69B4;
  color           : inherit;
  border          : 1px solid #000;
}

/*--- Etiquetes de titre ---*/
.title_avenir, .title_encours {
  position: absolute;
  margin-left: 45px;
  font-size: 10px; 
  font-weight: bold;
  font-style: italic;
}

.plugin-gridster.TeleinfoRemote .title_encours {
  margin-top: -5px;
}

.plugin-gridster.TeleinfoRemote .title_avenir {
  margin-top: 35px;
}

/*--- etiquettes infos ---*/
.info_conso, .info_tempo {
  position: absolute;
  margin-left: 45px;
  font-weight: bold; 
}

.plugin-gridster.TeleinfoRemote .info_tempo {
  margin-top: 52px;
}

.plugin-gridster.TeleinfoRemote .info_conso {
  margin-top: 12px;
}

.info_conso a {
  /*color: #33A3EC;*/
  border: 1px solid;"
}

.plugin-gridster.TeleinfoRemote .info_tarif {
  /*color: #33A3EC;*/
  position: absolute;
  margin-top: 0px;
  margin-left: 150px;
  font-weight: bold;
}


.plugin-gridster.TeleinfoRemote .logo:hover {
  position: absolute;
  opacity: 0.3;
  margin-left: -6px;
  margin-top: 11px;
}

/*

.plugin-gridster.TeleinfoRemote .text {
  background: #E6E6FA;
  left: 0;
  width: 100%; 
  display: block;
  text-align: center;
}

.plugin-gridster.TeleinfoRemote .logo_sarah {
  position: absolute;
  z-index:0;
  margin-top: 0px;
  margin-left: 0px; 
  opacity: 0.5;
}


.plugin-gridster.teleinforemote .logo_sarah .s_play img {
  margin-left: -28px; 
  width: 40px;
}
*/

/*-- button --*/
button{
  margin-top : -5px;
  margin-left: -7px;
  padding     : 0px;
  border      : 0px;
  background  : transparent;
  /*font-family : inherit;
  font-size   : 1em;*/
  cursor      : pointer;
}

button::-moz-focus-inner{
  padding : 0px;
  border  : 0px;
}

button > span{
  display: block;
  /*border        : 1px solid rgb(128,128,128);*/
  /*border-radius : 4px;*/
  width       : 45px;
  height      : 45px;
  background  : rgb(192,192,192) url(img/maison.png) no-repeat center center;
  /*line-height : 50px;*/
}

button > span > span{
  /*border        : 1px solid rgb(192,192,192);
  border-radius : 3px;*/
  display: none;
}

button:hover {
  opacity: 0.5;
}
