
/*--- Page ---*/
.plugin-gridster.TeleinfoRemote .front{
  background-color    : #E6E6FA; /* Bleu trés clair */
  background-color    : #FAF0E6; /* coquille d'oeuf */
  cursor              : default;
}

/*--- Supprimer soulignements ---*/
.plugin-gridster.TeleinfoRemote a{
  text-decoration     : none;
}

/*--- Titre ---*/
.plugin-gridster.TeleinfoRemote .plugin {
  position            : absolute;
  background-color    : #D2B48C;
  height              : 30px;
  top                 : 0 ;
  left                : 30px;
  right               : 0;
  padding-top         : 5px;
  font-weight         : bold;
  margin              : 0 auto;
  text-align          : center;
}

/*--- Logo ---*/
.plugin-gridster.TeleinfoRemote .logo {
  position            : absolute;
  background-color    : #D2B48C;
  width               : 30px;
  top                 : 30px;
  bottom              : 0px;
  left                : 0px;
}

/*--- Icone : Position ---*/
.plugin-gridster.TeleinfoRemote .icon {
  position            : absolute;
  background-color    : #F5DEB3;
  width               : 30px;
  height              : 30px;
  top                 : 0px;
  left                : 0px;
  cursor              : pointer;
}

/*--- Icone : Survol ---*/
.plugin-gridster.TeleinfoRemote #img_logo:hover {
  /*position: relative;*/
  opacity             : 0.3;
  margin-left         : 1px;
}

.plugin-gridster.TeleinfoRemote #text_logo {
  position            : absolute;
  font-weight         : bold;
  font-size           : 18px;
  /*color:#FFFFFF;*/
  color               : #FAF0E6;
  top                 : 8px;
  transform           : rotate(-90deg) translateX(-100%);
  transform-origin    : left top;
}

/*--- Info Abo dans titre page ---*/
.plugin-gridster.TeleinfoRemote .info_abo  a, .info_abo2 a{
  /*background-color: #FF69B4;*/
  color               : #FAF0E6;
  border              : 1px solid;
}

/*--- Etiquetes de titre ---*/
.title_avenir, .title_encours {
  position            : absolute;
  margin-left         : 30px;
  font-size           : 11px; 
  font-weight         : bold;
  font-style          : italic;
}

/*--- Etiquettes infos ---*/
.info_conso, .info_demain, .info_tarif {
  position            : absolute;
  margin-left         : 45px;
  font-weight         : bold; 
}

#maj, #next_maj {
  color               : #33A3EC; 
}

.plugin-gridster.TeleinfoRemote .title_encours {
  margin-top          : 25px;
}

.plugin-gridster.TeleinfoRemote .info_conso {
  margin-top          : 42px;
}

.plugin-gridster.TeleinfoRemote .title_avenir {
  margin-top          : 65px;
}

.plugin-gridster.TeleinfoRemote .info_demain {
  margin-top          : 82px;
}

.info_conso a, .info_demain a {
  color               : #33A3EC;
  border              : 1px solid;
}

.plugin-gridster.TeleinfoRemote .info_tarif {
  /*color: #33A3EC;*/
  position            : absolute;
  margin-top          : 0px;
  margin-left         : 150px;
  font-weight         : bold;
}

.plugin-gridster.TeleinfoRemote .ecodev {
  background          : transparent;
  width               : 110px;
  /*height            : 60px;*/
  margin              : auto;
  position            : absolute;
  left                : 0;
  bottom              : 8px;
  right               : 0;
}

.plugin-gridster.TeleinfoRemote #www:hover {
  opacity             : 0.3;
  cursor              : pointer;
}
