<% stylesheet('assets/'+key+'/portlet.css') %>
<div class='static'>
	<div class='plugin'>
		<span class="info_abo">
			<a>&nbsp;<span id='compteur'></span>&nbsp;</a>&nbsp;:
			<a>&nbsp;<span id='isousc'></span>&nbsp;</a>&nbsp;</span>
		<span class='info_abo2'>
			<a>&nbsp;<span id='optarif'></span>&nbsp;</a>&nbsp;
			<a>&nbsp;<span id='mono_tri'></span>&nbsp;</a></span>
	</div>
</div>
<div class="remove">
	<div class="title_encours">
		Mise à jour à :&nbsp;<span id="maj"></span>&nbsp;
		<span id='timer_on'></span>&nbsp;
		<span id="next_maj"></span>
	</div>
	<div class="info_conso">Tarif
		<span class="hchp_coul">
			<a>&nbsp;<span id="hchp"></span>&nbsp;</a>&nbsp;Conso.</span>
		<span class="conso_ppap">
			<a>&nbsp;<span id="conso"></span>&nbsp;</a>&nbsp;
			<a>&nbsp;<span id="iinst"></span>&nbsp;</a>&nbsp;</span>
	</div>

	<div class="title_avenir">Infos & options :</div>

	<div class="info_demain">I max.
		<span class="info_imax">
			<a>&nbsp;<span id='imax'></span>&nbsp;</a></span>
		<span class="alerts">
			<a>&nbsp;Alertes&nbsp;</a></span>
		<span class="dem_coul">
			<a>&nbsp;DEMAIN&nbsp;</a></span>
		<span class="info_pejp">
			<a>&nbsp;EJP&nbsp;</a></span>
	</div>
</div>
<div class="logo">
	<span id="text_logo"><%= key %></span>
</div>
<div class="icon">
	<span id="img_logo" title="Mettre à jour" ><img src="/assets/teleinforemote/img/maison.png" /></span>
</div>
<div class="ecodev">
	<%	var cfg = SARAH.ConfigManager.getConfig().modules.TeleinfoRemote;
		var httpEcodev = 'http://'+cfg.User+':'+cfg.Password+'@'+cfg.Host+'/index1.htm'; %>
	<a id="www" href=<%= httpEcodev %> title="Affichage page Téléinfo"><img src="/assets/teleinforemote/img/gce.png" /></a>
</div>

<!-- Scripts -->
<script type="text/javascript" src="/assets/teleinforemote/lib/socket.io/node_modules/socket.io-client/socket.io.js"></script>
<script type="text/javascript" src="/assets/teleinforemote/portlet.js"></script>
