
.plugin-gridster.TeleinfoRemote .text {
  background: #33A3EC;
  left: 0; width: 100%; 
  display: block;
  text-align: center; 
}

.plugin-gridster.TeleinfoRemote .title_tarif {
  position: absolute;
  margin-top: -1px;
  margin-left: 56px;
  font-size: 15px; 
  font-weight: bold;
}

.plugin-gridster.TeleinfoRemote .info_tarif {
  color: #33A3EC; 
  position: absolute;
  margin-top: -1px;
  margin-left: 170px;
  font-weight: bold;
}

.plugin-gridster.TeleinfoRemote .title_conso {
  position: absolute;
  margin-top: 26px;
  margin-left: 56px;
  font-size: 15px; 
  font-weight: bold;
}

.plugin-gridster.TeleinfoRemote .info_conso {
  color: #33A3EC; 
  position: absolute;
  margin-top: 26px;
  margin-left: 170px;
  font-weight: bold;
}

/*
.plugin-gridster.TeleinfoRemote .logo_sarah {
  position: absolute;
  z-index:0;
  margin-top: 0px;
  margin-left: 0px; 
  opacity: 0.5;
}


.plugin-gridster.teleinforemote .logo_sarah .s_play img {
  margin-left: -28px; 
  width: 40px;
}
*/

/*-- button --*/
button{
  margin-top : 0px;
  padding     : 0;
  border      : 0;
  background  : transparent;
  font-family : inherit;
  font-size   : 1em;
  cursor      : pointer;
}

button::-moz-focus-inner{
  padding : 0;
  border  : 0;
}

button > span{
  display: block;
  /*border        : 1px solid rgb(128,128,128);*/
  /*border-radius : 4px;*/
  width       : 45px;
  height      : 45px;
  background  : rgb(192,192,192) url(img/maison.png) no-repeat center center;
  /*line-height : 50px;*/
}

button > span > span{
  /*border        : 1px solid rgb(192,192,192);
  border-radius : 3px;*/
  display: none;
}

button:hover {
  opacity: 0.5;
}
